 .u-section-1 {
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 651px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-1 .u-map-1 {
  width: 1122px;
  height: 481px;
  margin: 30px auto 27px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-bottom: 44px;
  }

  .u-section-1 .u-map-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 77px;
  }

  .u-section-1 .u-map-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 993px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 873px;
  --gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-2 .u-image-1 {
  height: 231px;
  --radius: 30px;
  width: 288px;
  margin: 9px auto 0 15px;
}

.u-section-2 .u-group-1 {
  min-height: 206px;
  --radius: 30px;
  width: 328px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -52px 15px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 27px auto 0 0;
}

.u-section-2 .u-icon-1 {
  width: 48px;
  height: 48px;
  --text-color-var: #31985a;
  color: rgb(49, 152, 90) !important;
  margin: 15px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-image-2 {
  height: 231px;
  --radius: 30px;
  width: 288px;
  margin: 9px auto 0 15px;
}

.u-section-2 .u-group-2 {
  min-height: 206px;
  --radius: 30px;
  width: 328px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -52px 15px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 27px auto 0 0;
}

.u-section-2 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-2 .u-image-3 {
  height: 231px;
  --radius: 30px;
  width: 288px;
  margin: 9px auto 0 15px;
}

.u-section-2 .u-group-3 {
  min-height: 206px;
  --radius: 30px;
  width: 328px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -52px 15px 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 27px auto 0 0;
}

.u-section-2 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-2 .u-image-4 {
  height: 231px;
  --radius: 30px;
  width: 288px;
  margin: 9px auto 0 15px;
}

.u-section-2 .u-group-4 {
  min-height: 206px;
  --radius: 30px;
  width: 328px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -52px 15px 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 27px auto 0 0;
}

.u-section-2 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-2 .u-image-5 {
  height: 231px;
  --radius: 30px;
  width: 288px;
  margin: 9px auto 0 15px;
}

.u-section-2 .u-group-5 {
  min-height: 241px;
  --radius: 30px;
  width: 328px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -52px 15px 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px;
}

.u-section-2 .u-text-9 {
  font-size: 1.875rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 27px auto 0 0;
}

.u-section-2 .u-icon-5 {
  width: 48px;
  height: 48px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 10px 0;
}

.u-section-2 .u-image-6 {
  height: 231px;
  --radius: 30px;
  width: 288px;
  margin: 9px auto 0 15px;
}

.u-section-2 .u-group-6 {
  min-height: 206px;
  --radius: 30px;
  width: 328px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -52px 15px 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 20px;
}

.u-section-2 .u-text-11 {
  font-size: 1.875rem;
  margin: 15px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 27px auto 0 0;
}

.u-section-2 .u-icon-6 {
  width: 48px;
  height: 48px;
  margin: 15px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 10px;
    min-height: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-1 {
    width: 274px;
    margin-top: -42px;
    margin-right: 0;
    margin-bottom: -10px;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-2 {
    width: 274px;
    margin-top: -42px;
    margin-right: 0;
    margin-bottom: -10px;
    height: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-3 {
    width: 274px;
    margin-top: -42px;
    margin-right: 0;
    margin-bottom: -10px;
    height: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-4 {
    width: 274px;
    margin-top: -42px;
    margin-right: 0;
    margin-bottom: -10px;
    height: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-5 {
    width: 274px;
    margin-top: -42px;
    margin-right: 0;
    margin-bottom: -10px;
    height: auto;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: 19px;
  }

  .u-section-2 .u-group-6 {
    width: 274px;
    margin-top: -42px;
    margin-right: 0;
    margin-bottom: -10px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1241px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}